.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.pixel {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
}

.bg-yellow {
    background-color: yellow !important;
}

.logs {
    width: 400px;
    height: 650px;
}

.pointer{
    cursor: pointer !important;
}
